@font-face {
  font-family: "Lato Regular";
  src: url(./fonts_lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato bold";
  src: url(./fonts_lato/Lato-Black.ttf);
}

/* variables de colores y estilos globales */
:root {
  --color-primary: #52de97;
}

body {
  font-family: "Lato Regular";
  font-size: 16px;
  background-color: #e2e2e2;
}

.form__box__container {
  --border-color-gray: #ccc;
  --shadow: rgba(15,15,15,.5);
  --color-danger: #db2828;
  --color-succesfully: #52de97;
  max-width: 400px;
  width: 100%;
  border: var(--border-color-gray) 2px solid;
  margin: auto;
  border-radius: 0.375rem;
  box-shadow: var(--shadow)  4px 4px 8px;
  background-color: #f1f1f1;
}
/* styles tittle form */
.form__logo {
  position: relative;
  display: flex;
  height: 70px;
  margin-top: 1.245rem;
  z-index: 10;
}
.form__logo i {
  color: #f1f1f1;
  font-size: 1.5em;
  margin: auto;
}
.form__logo span {
  display: block;
  width: 70px;
  height: 70px;
  background-color: var(--color-primary);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}
.form__title {
  text-align: center;
  font-weight: 300;
}

/* styles form content */
.form__box {
  width: 80%;
  margin: auto;
}

.form__group > label {
  text-transform: uppercase;
  color: var(--color-primary);
  cursor: pointer;
}
.form__group > label.terms {
  text-transform: inherit;
  color: #000;
}

.form__group__input {
  margin-top: 0.375rem;
  position: relative;
  display: flex;
}
.form__input {
  flex-basis: 100%;
  padding: 0.375rem 1.5rem 0.375rem 0.75rem;
  border-radius: 0.25rem;
  border: 2px solid var(--border-color-gray);
  transition: border-color 200ms ease-in;
}
.form__input:focus, .form__input:hover {
  outline: 0;
  border-color: var(--color-succesfully);
}
.form__input + i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-danger);
}
.form__input + i.error_active {
  color: var(--color-danger);
}

.form_error_description,
.form__group:last-child p {
  margin-top: 0.375rem;
  font-size: 0.75rem;
  color: var(--color-danger);
}
.form__group:last-child p a {
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: none;
}
.form__group:last-child p {
  color: initial;
  font-size: 1em;
}

.form__group:nth-child(5){
  margin: 1rem 0;
}

/* button style */
.form__group__input [type="submit"] {
  border: none;
  background-color: var(--color-primary);
  color: #f1f1f1;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1.125rem;
  transition: box-shadow 200ms ease-in;
}
.form__group__input [type="submit"]:hover {
  box-shadow: rgba(84, 182, 133, 0.349) 0 0 0 6px;
}
[data-error="error"]{
  background-color: var(--color-danger);
  color: #f1f1f1;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}
